{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>CallHubVoiceBroadcastApp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
<body>
{% if user.is_authenticated %}
<div class="title is-4"> Welcome {{ user }}!</div>
{% endif %}
<a href="{% url 'home' %}">
    Home </a>&nbsp
<a href="{% url 'phonebooks' %}">
    Phone Book </a>&nbsp
<a href="{% url 'contacts' %}">
    Contacts </a>&nbsp
<a href="{% url 'campaign' %}">
    Campaigns </a>&nbsp
<a href="{% url 'call_history' %}">
    Call History </a>&nbsp
{% if user.is_authenticated %}
    <a href="{% url 'logout' %}">
        Logout </a>&nbsp
{% else %}
    <a href="{% url 'register' %}">
        Register </a>&nbsp
    <a href="{% url 'login' %}">
        Login </a>&nbsp
{% endif %}

{% block content %}{% endblock %}
</body>
</html>