{% extends 'base/base.html' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Campaign</title>

    </head>
    <body>
    <div class="container">
        <div class="section">
            <h3 class="content title is-4">All Campaigns</h3>
            <form action="{% url 'add_campaign' %}">
                {% csrf_token %}
                <input class="button is-primary is-small" type="submit" value="New Campaign">
            </form>
        </div>
        <div class="table-container">
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Created Date</th>
                    <th>Started On</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                {% for campaign in campaigns %}
                    <tr>
                        <td>{{ campaign.id }}</td>
                        <td>{{ campaign.name }}</td>
                        <td>{{ campaign.creation_date }}</td>
                        <td>{{ campaign.started_date }}</td>
                        <td>{{ campaign.status }}</td>
                        <td>
                            {% if campaign.status == "created" %}
                                <a href="../start_campaign/{{ campaign.id }}" class="button is-small is-primary">
                                    Start </a>
                            {% else %}
                                <a href="#" class="button is-small is-primary" disabled> Start </a>
                            {% endif %}
                            {% if campaign.status == "completed" %}
                                <a href="../campaign_call_history/{{ campaign.id }}" class="button is-small is-link">
                                    Call History </a>
                            {% else %}
                                <a href="#" class="button is-small is-link" disabled> Call History </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    </body>

    </html>
{% endblock %}