{% extends 'base/base.html' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contacts</title>
    </head>
    <body>
    <div class="container">
        <div class="section">
            {% if id %}
                <h3 class="content title is-4">{{ phonebook_name }}</h3>
             {% else %}
                <h3 class="content title is-4">Contacts</h3>
            {% endif %}
            <form action="{% url 'add_contact' %}">
                {% csrf_token %}
                <input class="button is-primary is-small" type="submit" value="New Contact">
            </form>
        </div>
        <div class="table-container">
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Created Date</th>
                </tr>
                {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.id }}</td>
                        <td>{{ contact.first_name }}</td>
                        <td>{{ contact.last_name }}</td>
                        <td>{{ contact.phone_number }}</td>
                        <td>{{ contact.created_date }}</td>
                        <td><a href="../edit_contacts/{{ contact.id }}" class="button is-small is-link">
                            Edit Contacts </a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    </body>
    </html>
{% endblock %}